@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header 헤더 */
#main_header {
  position: relative;
  border: 1px solid blue;
  width: 960px;
  height: 160px;
  margin: 0 auto;
  #title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: "Noto Sans KR", sans-serif;
  }
  #main_gnb {
    position: absolute;
    right: 0;
    top: 0;
    ul {
      display: flex;
      font-size: 20px;
      font-family: "Noto Sans KR", sans-serif;
      font-weight: bold;
      a {
        display: inline-block;
        padding: 2px 10px;
        transition: all 0.3s;
        &:hover {
          color: rgb(226, 226, 226);
          border-bottom: 1px solid #e7e7e7;
        }
        .Favorite {
          &:hover {
            #main_lnb {
              opacity: 100%;
            }
          }
        }
      }
    }
  }
}

#main_lnb {
  position: absolute;
  right: 180px;
  bottom: 50px;
  opacity: 1;
}
