/* reset */
@import url(./reset.scss);
/* built-in-function */
/* common */
.background {
  width: 100%;
  height: 100vh;
  background: url("./img/bg_2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .outerbox {
  background: url("./img/outerbox.png") center/cover no-repeat;
  width: 808px;
  height: 544px;
  position: relative;
}
.background .outerbox .wrapper {
  display: flex;
  padding: 36px;
}

/* wrapper_left */
.wrapper_left {
  width: 203px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.wrapper_left .wrapper_left_header {
  width: 100%;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.wrapper_left .wrapper_left_header .zero {
  color: #dc143c;
}
.wrapper_left .wrapper_left_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 15px;
  padding: 18px;
}
.wrapper_left .wrapper_left_body .left_body_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_gray {
  width: 148px;
  height: 133px;
  background: url(./img/iu.jpg) center/cover no-repeat;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_line {
  border-top: 1px dotted #000;
  margin: 12px 0;
  width: 90%;
}
.wrapper_left .wrapper_left_body .left_body_profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.wrapper_left .wrapper_left_body .left_body_profile .profile_detail {
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel .feel_title {
  font-weight: bold;
}

/* wrapper_right */
.wrapper_right {
  width: 524px;
  height: 472px;
  border: 1px solid #f00;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper_right .wrapper_right_header {
  display: flex;
  justify-content: space-between;
  color: map;
}